name: CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Kodu klonla
        uses: actions/checkout@v3

      - name: Node quraşdır
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Package-ləri yüklə
        run: npm install

      - name: Build et
        run: npm run build
